{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
<meta http-equiv="refresh" content="4;url=/admin/campaigns/campaign/" />
{% endblock %}
{% block content %}
<p class='lead'>{% trans "Your account is now activated." %} {% trans "You can login <a href='/accounts/login/?next=/admin/campaigns/campaign/'>here</a> now." %}</p>
{% endblock %}
