{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
  <h1>{% trans "Register to create a campaign!" %}</h1>
  <form method="post" action=".">
    {% csrf_token %}
    {{ form|crispy }}

    <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Join' %}" />
  </form>
  </div>
  </div>

  <hr/>
  <div class='row'>
  <div class='col-sm-6 col-sm-offset-3 text-align-center'>
  <p><a href={% url 'auth_login' %}>{% trans "Do you want to Login?" %}</a></p>
  </div>
  </div>
</div>

{% endblock %}
