{% for button in buttons %}
    {% if button.show  %}
        {% if page.id != 2 %}
            {% if not button.priority == 40 %} <!--Disabling Add child -->
                <li>{{ button|safe }}</li>
            {% endif %}

        {% else %}
        {% if button.priority == 5 %} <!--Enabling Add campaign-->
            <li>{{ button|safe }}</li>
        {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
