{% extends 'form-base.html' %}
{% block body %}
{% load staticfiles %}
{% load i18n %}
{% load currency %}
  <form id="payform" role="form" method="POST" action="/{{lang}}/p/{{campaign.slug}}/{{method}}/" novalidate>

    <input type="hidden" name="currency_type" value="{{currency}}">
    <img src="{% static 'images/kolabora/logo_text.jpg' %}" width="200" height="auto" /><br />

    <div class="alert alert-danger" id="validate">
      {% trans "There was an error in processing this information. Please verify that the fields in red below are correct." %}
    </div>
    {% include "payment/rewards.html" %}    

    <h4 class="phead">{% trans "Set your amount:" %}</h4>
    <div id="donate-grp" class="form-group input-group input-group-lg">
      <span class="input-group-addon">{{currency_symbol}}</span>
      <input type="text" class="form-control" name="amount" id="amount" placeholder="{{currency|upper}}" />
    </div>
    

{% include "payment/information_form.html" %}    

    <a class="btn btn-lg btn-default" onclick="history.go(-1);" id="backbutton"><i class="icon-arrow-left"></i> {% trans "Back" %}</a>
    <button type="button" class="pull-right btn btn-lg btn-primary" href="#" id="submitbutton">{% trans "Next" %} <i class="icon-arrow-right"></i></button>
  </form>
  <!-- <script type="text/javascript">Stripe.setPublishableKey('{{ stripe_public_key }}');</script> -->
{% endblock %}
