{% extends 'form-base.html' %}
{% load i18n %}


{% block body %}
{% load staticfiles %}
  <h3>{% trans "Choose payment type:"%}</h3>
  <br />
  {% for type in payment_methods %}
  <a style="white-space: normal;" class="btn btn-default btn-lg btn-block" href="/{{lang}}/p/{{ campaign.slug }}/{{ type.url_slug }}/"><i class="{{ type.icon }}"></i> {{ type.name }}</a>
  {% endfor %}
  <br />
{% endblock %}
