{% extends 'form-base.html' %}
{% block body %}
{% load staticfiles i18n %}
{% load currency %}

  <img src="{% static 'images/kolabora/logo_text.jpg' %}" width="200" height="auto" /><br />

  <h4 class="phead">{% trans "Confirm your contribution?" %}</h4>

  <table class="table">
    <tbody>

      <tr><td>{% trans "Amount to pay:" %}</td><td>{{ request.session.fd.amount }} <i>{{currency_type}}</i></td></tr>
      <tr><td>{% trans "The campaign will receive:" %}</td><td>{{ request.session.fd.goal_currency_amount }}  <i>{{campaign.goal_currency}}</i></td></tr>

      
      {% if request.session.fd.amount_crypto_receive %}
      <tr><td>{% trans "Total FairCoins to receive:" %}</td>
          <td><b>{{ request.session.fd.amount_crypto_receive }} ⨎ </b></td>
      </tr>
      <tr><td>{% trans "FairCoin Address:" %}</td>
          <td>{% if request.session.fd.cryptoaddress == 'nocryptos' %}{% trans "I don't want to receive FairCoins" %}
              {% elif request.session.fd.cryptoaddress == 'nowallet' %}
                {% comment %} Translators: A choice radiobutton for the payer/contributor that wants to get Faircoin or crypto but don't have a wallet yet and want us to keep them temporarily {% endcomment %}
                {% trans "I don't have a wallet now. Keep them for me until I claim them by e-mail." %}
              {% else %} {{ request.session.fd.donor_wallet }} {% endif %}
          </td>
      </tr>
      {% endif %}
    </tbody>
  </table>

  <a class="btn btn-lg btn-default" onclick="history.go(-1);" id="backbutton"><i class="icon-arrow-left"></i> {% trans "Back" %}</a>
  <a class="pull-right btn btn-lg btn-primary" href="/{{lang}}/p/{{campaign.slug}}/{{method}}/complete" ><i class="icon-ok"></i> {% trans "Confirm" %}</a>
{% endblock %}
