{% extends 'form-base.html' %}
{% block body %}
{% load staticfiles  %}
{% load i18n %}
{% load currency %}

  <form id="payform" role="form" method="POST" action="/{{lang}}/p/{{campaign.slug}}/cryptos/" novalidate>
    <img src="{% static 'images/kolabora/logo_text.jpg' %}" width="200" height="auto" /><br />
    <div class="alert alert-danger" id="validate">
      {% trans "There was an error in processing this information. Please verify that the fields in red below are correct." %}
    </div>
        {% include "payment/rewards.html" %}    

    <h4 class="phead">{% trans "Choose your crypto-currency:" %}</h4>
    <div id="ctypechoose" class="row text-center">
      <div class="col-md-4 ctypes">
        <input type="radio" name="currency_type" id="crypto-btc" value="BTC" checked="checked"> <strong><i class="fab fa-bitcoin"></i> Bitcoin</strong>
      </div>
      <!-- TODO: use the https://origin.fontawesome.com/icons/ethereum?style=brands  -->
      <div class="col-md-4 ctypes">
        <input type="radio" name="currency_type" id="crypto-eth" value="ETH"> <strong><i class="icon-eth"></i> Ethereum</strong>
      </div>
      <div class="col-md-4 ctypes">
        <input type="radio" name="currency_type" id="crypto-ltc" value="LTC"> <strong><i class="icon-ltc"></i> Litecoin</strong>
      </div>
    </div>
    <h4 class="phead">{% trans "Set your amount:" %}</h4>
    <div id="donate-grp" class="form-group input-group input-group-lg">
      <span class="input-group-addon"><i id="icon-amount" class="fab fa-bitcoin"></i></span>
      <input type="text" class="form-control" name="amount" id="amount" placeholder="0.1" />
    </div>

    
    
    {% include "payment/information_form.html" %} 
  <a class="btn btn-lg btn-default" onclick="history.go(-1);" id="backbutton"><i class="icon-arrow-left"></i> {% trans "Back" %}</a>
    <button type="button" class="pull-right btn btn-lg btn-primary" href="#" id="submitbutton">{% trans "Next" %} <i class="icon-arrow-right"></i></button>
  </form>
{% endblock %}
