{% load i18n %}
    <h4 class="phead">{% trans "Fill in your information:" %}</h4>
        
        <div id="email-grp" class="form-group">
          <label class="control-label" for="email">* {% trans "Your Email" %}</label>
          <input type="text" class="form-control" name="email" id="email" placeholder="name@email.com" />
        </div>
        <div class="checkbox">
            <label>
                <input name="notify" type="checkbox" checked> {% trans "Notify me by email about updates or new projects" %}
            </label>
        </div>

    <div id="sh-namedonor-grp" class="form-group">
      <label class="control-label" for="sh-namedonor">{% trans "Your name" %}</label>
      <input type="text" class="form-control input-group-lg" id="namedonor" name="namedonor" placeholder="Anonymous" />
    </div>
    
    

    <div id="chat_usr-grp" class="form-group">
      <label class="control-label" for="chat_usr">{% trans "Your chat username (Telegram, Whattsapp, XMPP, Riot, etc)" %}</label>
      <input type="text" class="form-control" name="chat_usr" id="chat_usr" placeholder="{% trans 'Telegram: @Username'%}" />
    </div>
    
    <div id="sh-notes-grp" class="form-group">
      <label class="control-label" for="notes">{% trans "Notes" %}</label>
      <input type="text" class="form-control" id="notes" name="notes" x-autocompletetype="notes" />
    </div>


{% if campaign.selling_crypto == 'fair' %}
    <h4 class="phead">{% trans "<a target='_blank' href='https://komun.org/blog/faircoin-conceptos-fundamentales'>FairCoin</a> information:" %}</h4>
    <p class="help-block">{% trans "Install a <a target='_blank' href='https://fair-coin.org/faircoin-wallets'>FairCoin wallet</a> and paste your receiving address." %}</p>

    <div id="faircoin_section">
        <input type="radio" name="cryptoaddress" id="nocryptos" value="nocryptos"> <label for="nocryptos"> {% trans "I don't want to receive FairCoins" %}</label><br>
        <input type="radio" name="cryptoaddress" id="nowallet" value="nowallet" checked> <label for="nowallet"> {% trans "I don't have a wallet now. Keep them for me until I claim them by e-mail." %}</label><br>
        <input type="radio" name="cryptoaddress" id="yeswallet" value="yeswallet"> <label for="yeswallet"> {% trans "Here is my FairCoin address:" %}</label><input type="text" class="form-control" name="donor_wallet" id="donor_wallet" placeholder="e.g. fXXXXXXXXXXXXXXXX"/><br>
    </div>
{% endif %}


    <p class="phead">{% trans "Click below to verify the information and submit your contribution. You will have the opportunity to confirm it." %}</p>
    {% csrf_token %}