{% extends 'form-base.html' %}
{% block body %}
{% load staticfiles  %}
{% load i18n %}
{% load currency %}

  <form id="payform" role="form" method="POST" action="/{{lang}}/p/{{campaign.slug}}/mercadopago/" novalidate>
    <img src="{% static 'images/kolabora/logo_text.jpg' %}" width="200" height="auto" /><br />
    <div class="alert alert-danger" id="validate">
      {% trans "There was an error in processing this information. Please verify that the fields in red below are correct." %}
    </div>
        {% include "payment/rewards.html" %}    
    <input type="hidden" name="currency_type" value="ARS" /> 

    <h4 class="phead">{% trans "Set your amount:" %}</h4>
    <div id="ctypechoose" class="row text-center">
      <div class="col-md-4 ctypes">
        <input type="radio" name="amount" id="amount-1" value="500" checked="checked"> <strong>500 $ (ARS)</strong>
      </div>
      <div class="col-md-4 ctypes">
        <input type="radio" name="amount" id="amount-2" value="1000" > <strong>1000 $ (ARS)</strong>
      </div>
     
    </div>

    
    {% include "payment/information_form.html" %} 
  <a class="btn btn-lg btn-default" onclick="history.go(-1);" id="backbutton"><i class="icon-arrow-left"></i> {% trans "Back" %}</a>
    <button type="button" class="pull-right btn btn-lg btn-primary" href="#" id="submitbutton">{% trans "Next" %} <i class="icon-arrow-right"></i></button>
  </form>
{% endblock %}
