{% load i18n campaigntags %}
{% with campaign_i18n=campaign|get_campaign_i18n:lang %}

{% if campaign_i18n.get_rewards %}
  <div id="rewards-grp" class="form-group ">
    <div style="margin-top:30px">
      <button type="button" class="btn btn-primary btn-lg " data-toggle="modal" data-target="#myModal">
        {% trans "Campaign Rewards" %}
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">{% trans "Campaign Rewards" %}</h4>
            </div>
            <div class="modal-body">
              {{ campaign_i18n.rewards|safe }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Done" %}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endwith %}