{% extends 'form-base.html' %}
{% block body %}
{% load staticfiles i18n %}

<div class="text-center">
  <h1><i class="glyphicon glyphicon-thumbs-up icon-4x text-success"></i></h1>
  <h1>{% blocktrans %}Thank you supporting the campaign <i>{{ proj_name }}</i> in Kolabora!{% endblocktrans %}</h1>
  <p>{% trans "Your donation will go a long way to helping us meet our goal and achieving this campaign." %}</p>

  <p>{{ success_disclaimer }}</p>

  {% if method == 'cryptos' %}
    <div class="alert alert-success">
       {% trans "Use your favourite wallet to transfer to the address listed below:" %}
    </div>
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i>{{payment_currency}}</i></span>
      <input type="text" class="form-control input-lg" value="{{ crypto_address_pay_to }}" readonly />
      <img src="https://api.qrserver.com/v1/create-qr-code/?data={{crypto_address_pay_to}}&size=200x200">
    </div>
    <div class="alert alert-success">
      {% trans "You can optionally send it also via Bank of the Commons to the company token:" %} <strong>5b0045bf19059</strong><br>
    </div>
  {% elif method == 'bank_eur' %}
    <div class="alert alert-success">
      {{fiat_method_pay_to|safe}}
    {% trans "If you have a Bank of the Commons account, you may prefer to use the wallet to wallet function to the following token:" %} <strong>5b0045bf19059</strong><br>
    </div>

  {% else %}
    <div class="alert alert-success">
      {{fiat_method_pay_to|safe}}
    </div>
  {% endif %}

    <div class="alert alert-info">
    {% trans "Contribution to pay:" %} {{amount_payment_currency}} {{payment_currency}}<br>
    </div>

  <div class="alert alert-warning">
    {% if mail_sent %}
        <p>{% trans "We just sent you an email to confirm your application." %}</p>
        {% else %}
        <p>{% trans "Unfortunately, an error occurred when sending a confirmation mail to your address." %} </p>
        <p>{{ mail_error_message }}
        </p>
    {% endif %}
    {% if donor_wallet %}{% trans "Once confirmed your payment, the cryptos will be sent to the address you indicated:" %} {{donor_wallet}}{%endif%}
    {% if wallet_type == 'nowallet' %}{% trans "Once confirmed your payment, we'll send you a confirmation email and you will be able to claim your cryptocurrency whenever you wish." %}
    {% else %}
      <p>{% trans "Your payment will be verified as soon as it is received. If all is correct, we will confirm you by email." %}</p>
    {% endif %} 
    
    <p>{% trans "Important: This contribution will expire in one week if no payment has been received." %}<p>

  </div>
</div>
  <br />
  <a class="pull-right btn btn-lg btn-default" href="/{{lang}}/#campaigns" id="backbutton">{% trans "Done" %}</a>
{% endblock %}
