{% load i18n %}
<!-- {% load staticfiles %} -->
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html dir="ltr" lang="{{LANGUAGE_CODE}}">
<head>

<!-- Meta Tags -->

  
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="author" content="Komun" />

{% block meta %}

{% endblock meta %}
<!-- Page Title -->

<!-- Favicon and Touch Icons -->
<link href="/static/images/faviconKOLABORA32x32.png" rel="shortcut icon" type="image/png">
<link href="/static/images/apple-touch-icon.png" rel="apple-touch-icon">
<link href="/static/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
<link href="/static/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
<link href="/static/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

<!--Font awesome para telegram, Mastodon,... -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<!-- Stylesheet -->
<!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"> -->

<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/brands.css" integrity="sha384-QT2Z8ljl3UupqMtQNmPyhSPO/d5qbrzWmFxJqmY7tqoTuT2YrQLEqzvVOP2cT5XW" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous"> -->

<link href="/static/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/animate.css" rel="stylesheet" type="text/css">
<link href="/static/css/css-plugin-collections.css" rel="stylesheet"/>
<!-- CSS | menuzord megamenu skins -->
<link id="menuzord-menu-skins" href="/static/css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet"/>
<!-- CSS | Main style file -->
<link href="/static/css/style-main.css" rel="stylesheet" type="text/css">
<!-- CSS | Preloader Styles -->
<link href="/static/css/preloader.css" rel="stylesheet" type="text/css">
<!-- CSS | Custom Margin Padding Collection -->
<link href="/static/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
<!-- CSS | Responsive media queries -->
<link href="/static/css/responsive.css" rel="stylesheet" type="text/css">
<!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
<link href="/static/css/style.css" rel="stylesheet" type="text/css">

<!-- Revolution Slider 5.x CSS settings -->
<link  href="/static/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css"/>
<link  href="/static/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css"/>
<link  href="/static/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css"/>

<!-- CSS | Theme Color -->
<link href="/static/css/colors/theme-skin-red.css" rel="stylesheet" type="text/css">

<!-- external javascripts -->
<script src="/static/js/jquery-2.2.4.min.js"></script>
<script defer src="/static/js/jquery-ui.min.js"></script>
<script defer src="/static/js/bootstrap.min.js"></script>
<!-- JS | jquery plugin collection for this theme -->
<script defer src="/static/js/jquery-plugin-collection.js"></script>

<!-- Revolution Slider 5.x SCRIPTS -->
<script defer src="/static/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
<script defer src="/static/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body class="">
<div id="wrapper" class="clearfix">
  <!-- preloader -->
  <div id="preloader">
    <div id="spinner">
      <div class="preloader-dot-loading">
        <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
      </div>
    </div>
    <div id="disable-preloader" class="btn btn-default btn-sm">{% trans "Disable Loader" %}</div>
  </div>

  <!-- Header -->
  <header class="header">
    <div class="header-top bg-theme-colored sm-text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="widget no-border m-0">
              <ul class="styled-icons icon-dark icon-circled icon-theme-colored icon-sm flip sm-pull-none sm-text-center mt-sm-15">
                <li><a href="{{komun_social_urls.twitter}}" target="_blank"><i class="fab fa-twitter text-white" style="font-size:18px"></i></a></li>
                <li><a href="{{komun_social_urls.mastodon}}" target="_blank"><i class="fab fa-mastodon text-white" style="font-size:18px"></i></a></li>

              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="widget no-border m-0">
              <ul class="list-inline pull-right sm-pull-none sm-text-center mt-5">
                <li class="m-0 pl-10 pr-10"> <a href="{{komun_social_urls.telegram}}" target="_blank" class="text-white"><i class="fab fa-telegram text-white"></i></a>
                <li class="m-0 pl-10 pr-10"> <a href="#contact" class="text-white"><i class="fas fa-envelope text-white"></i></a>
                </li>
                <li class="m-0 pl-10 pr-10">
                      {% csrf_token %}
                      <input name="next" type="hidden" value="{{ redirect_to }}">
                      <select onchange="location = this.value;" name="language" id="language" class="form-control input-sm">
                          
                      {% get_available_languages as LANGUAGES %}
                      {% get_language_info_list for LANGUAGES as app_languages %}
                          
                          {% for language in app_languages %}
                              <option value="/{{ language.code }}{{ page_url }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>{{language.code|upper}}</option>
{% comment %} 
                              <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                  {{ language.name_local }}
                              </option> {% endcomment %}
                          {% endfor %}
                      </select>
                </li>
              </ul>
            </div><div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed bg-silver-light">
        <div class="container">
          <nav id="menuzord-right" class="menuzord default no-bg">
            <a class="menuzord-brand pull-left flip" href="/"><img src="/static/images/logoKOLABORAweb.png" alt=""></a>
            <ul class="menuzord-menu onepage-nav">
              {% if page_url != '/' %}<li class="active"><a href="/{{LANGUAGE_CODE}}/">{% trans "Home"%}</a></li>{% endif %}
              <li><a href="/{{LANGUAGE_CODE}}/#about">{% trans "How does it work?"%}</a></li>
              <li><a href="/{{LANGUAGE_CODE}}/#campaigns">{% trans "Campaigns"%}</a></li>
              <li><a href="/{{LANGUAGE_CODE}}/accounts/register/">{% trans "Create Campaign"%}</a></li>
              <li><a href="/{{LANGUAGE_CODE}}/#contact">{% trans "Contact"%}</a></li>
              <li>
            </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

  {% block content %}

  {% endblock content %}
  <!-- Footer -->
  <footer id="footer" class="footer" data-bg-img="/static/images/footer-bg.png" data-bg-color="#25272e">
    <div class="container pt-70 pb-40">
      <div class="row border-bottom-black">
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <img class="mt-10 mb-20" alt="" src="/static/images/logo-wide-white-footer_KOLABORA.png">
            <p>{% trans "Get in touch with the Komun team:" %}</p>
            <ul class="list-inline mt-5">
              <li class="m-0 pl-10 pr-10"> <i class="fab fa-telegram text-theme-colored mr-5"></i> <a class="text-gray" href="{{komun_social_urls.telegram}}">{% trans "Telegram group" %}</a> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-commenting-o text-theme-colored mr-5"></i> <a class="text-gray" href="https://riot.im/app/#/room/#komun_es:matrix.org">Riot/Matrix</a> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fas fa-envelope text-theme-colored mr-5"></i> <a class="text-gray" href="#contact">{% trans "Contact" %}</a> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fas fa-globe text-theme-colored mr-5"></i> <a class="text-gray" href="https://komun.org">komun.org</a> </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">{% trans "Interesting Articles" %}</h5>
            <div class="latest-posts">
            <div id="divRss"></div>
            {% comment %} <script src="/static/js/external/FeedEk.min.js"></script>
              
              <!-- End BuySellAds Ad Code -->
              <script type="text/javascript">
                $(function () {
                  $('#divRss').FeedEk({
                    FeedUrl: 'https://komun.org/{{LANGUAGE_CODE}}/blog.rss',
                    MaxCount: 4,
                    DateFormat: 'dd MMMM yyyy',
                    DateFormatLang: '{{LANGUAGE_CODE}}',
                            ShowDesc: false
                  });
                    })
                </script> {% endcomment %}
              <article class="post media-post clearfix pb-0 mb-10">
                {% comment %} <a href="#" class="post-thumb"><img alt="" src="/static/images/imagenes_articulos_footer/articulo_faircoin.png"></a> {% endcomment %}
                <div class="post-right">
                  <h5 class="post-title mt-0 mb-5"><a href="https://komun.org/blog/informe-de-transparencia-primer-cuatrimestre-2019" target="_blank">{% trans "Transparency komun.org" %}</a></h5>
                  {% comment %} <p class="post-date mb-0 font-12">02 Nov 2018</p> {% endcomment %}
                </div>
              </article>
              <article class="post media-post clearfix pb-0 mb-10">
                {% comment %} <a href="#" class="post-thumb"><img alt="" src="/static/images/imagenes_articulos_footer/articulo_faircoin.png"></a> {% endcomment %}
                <div class="post-right">
                  <h5 class="post-title mt-0 mb-5"><a href="https://komun.org/blog/faircoin-conceptos-fundamentales" target="_blank">{% trans "FairCoin, fundamental concepts" %}</a></h5>
                </div>
              </article>
              
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">{% trans "Useful links" %}</h5>
            <ul class="list angle-double-right list-border">
              <li><a href="https://mapo.komun.org" target="_blank">{% trans "Complementary currencies map" %}</a></li>
              <li><a href="https://bazar.komun.org" target="_blank">{% trans "Crypto Online Shop" %}</a></li>
              <li><a href="https://confederac.io" target="_blank">Confederac.io</a></li>
              <li><a href="https://fair.coop" target="_blank">FairCoop</a></li>
              <!-- <li><a href="#">Training</a></li> -->
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">{% trans "Donate to the team" %}</h5>
            <img src="/static/images/kolabora/qr_donations.png">
            <p><small>{% trans "FairCoin Address" %}: faMvnv6q5PZ1yG6v5XqG3rnbCQ8aQRJPQv</small></p>
         </div>
        </div>
        
      </div>
      <div class="row mt-10">
        <!-- <div class="col-md-5">
          <div class="widget dark">
            <h5 class="widget-title mb-10">Subscribe Us</h5> -->
            <!-- Mailchimp Subscription Form Starts Here -->
            <!-- <form id="mailchimp-subscription-form-footer" class="newsletter-form">
              <div class="input-group">
                <input type="email" value="" name="EMAIL" placeholder="Your Email" class="form-control input-lg font-16" data-height="45px" id="mce-EMAIL-footer" style="height: 45px;">
                <span class="input-group-btn">
                  <button data-height="45px" class="btn btn-colored btn-theme-colored btn-xs m-0 font-14" type="submit">Subscribe</button>
                </span>
              </div>
            </form> -->
            <!-- Mailchimp Subscription Form Validation -->
            <!-- <script type="text/javascript">
              $('#mailchimp-subscription-form-footer').ajaxChimp({
                  callback: mailChimpCallBack,
                  url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
              });

              function mailChimpCallBack(resp) {
                  // Hide any previous response text
                  var $mailchimpform = $('#mailchimp-subscription-form-footer'),
                      $response = '';
                  $mailchimpform.children(".alert").remove();
                  console.log(resp);
                  if (resp.result === 'success') {
                      $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                  } else if (resp.result === 'error') {
                      $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                  }
                  $mailchimpform.prepend($response);
              }
            </script> -->
            <!-- Mailchimp Subscription Form Ends Here -->
          <!-- </div>
        </div> -->
        <!-- <div class="col-md-3 col-md-offset-1">
          <div class="widget dark">
            <h5 class="widget-title mb-10">Call Us Now</h5>
            <div class="text-gray">
              +61 3 1234 5678 <br>
              +12 3 1234 5678
            </div>
          </div>
        </div> -->
        <div class="col-md-3">
          <div class="widget dark">
            <h5 class="widget-title mb-10">{% trans "Connect with us" %}</h5>
            <ul class="styled-icons icon-dark icon-theme-colored icon-circled icon-sm">
              <li><a href="{{komun_social_urls.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
              <li><a href="{{komun_social_urls.mastodon}}" target="_blank"><i class="fab fa-mastodon" aria-hidden="true"></i></a></li>
              <li><a href="{{komun_social_urls.telegram}}" target="_blank"><i class="fab fa-telegram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom bg-black-333">
      <div class="container pt-15 pb-10">
        <div class="row">
          <div class="col-md-6">
            <p class="font-11 text-black-777 m-0">{% trans "Made with a lot of fun"%}<a target="_blank" href="https://www.youtube.com/watch?v=OF9rTfEzUMk"><img src="/static/images/kolabora/bambi.png" alt="bambi"></a>{% trans "for a more decentralized world. "%}</p>
          </div>
          <div class="col-md-6 text-right">
            <div class="widget no-border m-0">
                <ul class="list-inline sm-text-center mt-5 font-12">
                   <li>
                     <a href="/faq/">{% trans "FAQ" %}</a>
                   </li>
                   <li>|</li>
                   <li>
                     <a href="/terms/">{% trans "Terms & Conditions" %}</a>
                   </li>
                   <li>|</li>
                   <li><a href="https://komun.org/source-code-and-collaborations" target="_blank">{% trans "Code and issue report" %}</a>
                   </li>
                 </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a class="scrollToTop" href="#"><i class="fas fa-angle-up"></i></a>
 </div>
 <!-- end wrapper -->

 <!-- Footer Scripts -->
 <!-- JS | Custom script for all pages -->
 <script src="/static/js/custom.js"></script>
  <script src="/static/js/frontend.js"></script>
 {% block extra_css %}
     {# Override this in templates to add extra stylesheets #}
 {% endblock %}
 <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
      (Load Extensions only on Local File Systems !
       The following part can be removed on Server for On Demand Loading) -->
 <!-- <script type="text/javascript" src="/static/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
 <script type="text/javascript" src="/static/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
 <script type="text/javascript" src="/static/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
 <script type="text/javascript" src="/static/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
 <script type="text/javascript" src="/static/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
 <script type="text/javascript" src="/static/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
 <script type="text/javascript" src="/static/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
 <script type="text/javascript" src="/static/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
 <script type="text/javascript" src="/static/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script> -->

 </body>
 </html>

	<!-- {% load currency %} -->

<!-- <a class="btn btn-lg btn-success btn-block" href="/c/choose"><i class="icon-ok"></i> -->
