{% extends 'base.html' %}
{% load static wagtailimages_tags wagtailcore_tags i18n campaigntags %}
{% get_current_language as LANGUAGE_CODE %}
{% block  meta %}
<meta property="og:title" content="Kolabora: {{campaign.title}}" />
<meta property="og:description" content="{{campaign.intro}}" />
<meta name="description" content="{{campaign.intro}}" />
{% image campaign.get_main_image max-750x565 as main_image %}
<title>Kolabora: {{campaign.title}}</title>
<meta property="og:image" content="{{BASE_URL}}{{main_image.url}}" />
<meta name="keywords" content="crowdfunding,nonprofit,funding,fundrising,faircoin,cryptomonedas,cryptocurrencies,activism,buy,compra,micromecenazgo,activists,{{campaign.tags.all|join:','}}" />

{% endblock  %}

{% block content %}
<!-- Start main-content -->
<div class="main-content">

{% if campaign.get_header_image %}
  <!-- Section: inner-header -->
  {% image campaign.get_header_image fill-1352x400-c100 as tmp_photo %}
  <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{{ tmp_photo.url }}">
    <div class="container pt-100 pb-50">
      <!-- Section Content -->
      <div class="section-content pt-100">
        <div class="row">
          <div class="col-md-12">
            <h3 {{ title }}></h3>
            <!-- <h3 class="title text-white"></h3> -->
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

<!-- Section: Campaign Content -->
<section>
  <div class="container">
    <div class="row mtli-row-clearfix">
      <div class="col-sm-6 col-md-8 col-lg-8">
          <h2>{{ campaign.title }}</h2>
          <p><i>{{ campaign.intro }}</i></p>
        <div class="causes bg-white maxwidth500 mb-30">
          <div class="thumb">
            
            {% comment %} {% image campaign.get_main_image fill-750x565-c100 %} {% endcomment %}
            {% image campaign.get_main_image max-750x565 as main_image %}
            <img src="{{main_image.url}}" alt="" class="img-fullwidth">
            <div class="overlay-donate-now">
              <a href="/{{LANGUAGE_CODE}}/p/{{campaign.slug}}/" class="btn btn-dark btn-theme-colored btn-flat btn-sm pull-left mt-10">{% trans "Contribute" %}<i class="flaticon-charity-make-a-donation font-16 ml-5"></i></a>
            </div>
          </div>
          <div class="progress-item mt-0">
            <div class="progress mb-0">
              <div data-percent="{{campaign.percentage}}" class="progress-bar"><span class="percent">{{campaign.percentage}}</span></div>
            </div>
          </div>
          <div class="causes-details clearfix  bbaseorder-bottom-theme-color-1px p-15 pt-10 pb-10">
            <ul class="list-inline project-conditions mt-20 text-center bg-theme-colored-transparent-1 m-0 p-10">
              <li class="target-fund text-theme-colored"><strong>{{ campaign.goal_amount|floatformat:"-2" }}{{ campaign.goal_currency_symbol }}</strong>{% trans "Goal" %}</li>
              <li class="day text-theme-colored"><i class="flaticon-charity-hand-holding-a-heart font-30"></i></li>
              <li class="raised text-theme-colored"><strong>{{ campaign.total_raised|floatformat:"-2" }}{{ campaign.goal_currency_symbol }}</strong>{% trans "Raised" %}</li>
            </ul>
          </div>
        </div>

        <div id="text" class="event-details">
          {% if campaign.get_video%}
            {{ campaign.get_video|iframe|richtext }}
          {% endif %}
          <p class="mb-20 mt-20">{{ campaign.body|richtext }}</p>
        
          {% if campaign.get_rewards %}
                <div style="margin-top:20px">
                  <h4 class="widget-title line-bottom">{% trans "Campaign Rewards" %}</h4>
                  {{ campaign.get_rewards|richtext }}
                </div>
          {% endif %}

        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="sidebar sidebar-right mt-sm-30">
          <div class="widget">
              {% for link in campaign.get_links.all %}
                  {% if link.type_url == 'twitter' %}
                    <a href="{{link.url}}" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span></a>
                  {% elif link.type_url == 'homepage' %}
                     <a href="{{link.url}}" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-home fa-stack-1x"></i></span></a>
                  {% elif link.type_url == 'mastodon' %}
                    <a href="{{link.url}}" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fab fa-mastodon fa-stack-1x"></i></span></a>
                  {% elif link.type_url == 'facebook' %}
                    <a href="{{link.url}}" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x"></i></span></a>
                  {% elif link.type_url == 'instagram' %}
                    <a href="{{link.url}}" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x"></i></span></a>
                  {% elif link.type_url == 'videos' %}
                    <a href="{{link.url}}" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-play fa-stack-1x"></i></span></a>
                  {% elif link.type_url == 'chat' %}
                    <a href="{{link.url}}" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-comments fa-stack-1x"></i></span></a>
                  {% else %}
                    <a href="{{link.url}}" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-link fa-stack-1x"></i></span></a>
                  {% endif %}
              {% endfor %}
          </div>
          {% if campaign.is_completed %}
            <div class="widget">
              <h4 class="widget-title line-bottom">{% trans "The funding campaign is finished and no longer accepting new contributions." %}</h4>
            </div>
          {% else %}
            <div class="widget">
              <h4 class="widget-title line-bottom">{{ kolabora_phrase }}</h4>
              <form> <input type="button" class="btn btn-flat btn-dark btn-theme-colored mt-10 pl-30 pr-30" value='{% trans "Contribute now!" %}' onclick="window.location.href='/{{LANGUAGE_CODE}}/p/{{campaign.slug}}/'" /></form>
            </div>
          {% endif %}

          <div class="widget">
            {% if campaign.facebook or campaign.twitter or campaign.fedivers %}
              <h4 class="widget-title line-bottom">Redes Sociales de {{ campaign.title }}</h4>
              <ul class="list-divider list-border list check">
                {% if campaign.twitter %}
                  <li><a class="twitter-timeline" data-height="400" href="{{ n.twitter }}">Tweets de {{ campaign.title }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
                {% endif %}
                {% if campaign.fediverse %}
                  <li><a class="mastodon-timeline" data-height="400" href="{{ n.mastodon }}">Fediverse de {{ campaign.title }}</a></li>
                {% endif %}
                {% if campaign.facebook %}
                  <li><a class="facebook-timeline" data-height="400" href="{{ n.facebook }}">Facebook by {{ campaign.title }}</a></li>
                {% endif %}
            {% endif %}
          </div>

          {% if campaign.crypto_donation_address %}
          <div class="widget">
            <h4 class="widget-title line-bottom">{{ crypto_donation_phrase }}</h4>              
            <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ campaign.crypto_donation_address }}" alt="">
            <p><small>{{ campaign.crypto_donation_address }}</small></p>
          </div>
          {% endif %}
          {% if campaign.get_tags.all %}
              <div class="widget">
                <h4 class="widget-title line-bottom">{% trans "Tags" %}</h4>
                <div class="tags">
                  {% for tag in campaign.get_tags.all %}
                    <a href="#">{{ tag }}</a>
                  {% endfor %}
                </div>
              </div>
          {% endif %}
          
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end main-content -->
{% if campaign.get_phases.all %}
  <section>
  <div class="container pb-0">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="heading-line-bottom text-center">
          {% comment %}Translators: It refers to the phases/tasks at the end of a campaign to show the progress of the campaign, project {% endcomment %}
          <h3>{% trans "PHASES" %}</h3>
        </div>
      </div>
    </div>
  </div>
  </section>

  <section id="cd-timeline" class="cd-container">
      {% for n in campaign.get_phases.all %}
      <div class="cd-timeline-block">
        {% if not n.state %}
          <div class="cd-timeline-img cd-movie">
          {% comment %} Translators: This is for a "pending" phase/task {% endcomment %}
          <img src="/static/images/timeline/wait.svg" alt="{% trans "Pending" %}">
        {% else %}
          <div class="cd-timeline-img cd-picture">
          {% comment %} Translators: This is for a "completed" phase/task {% endcomment %}
          <img src="/static/images/timeline/okok.svg" alt="{% trans "Completed"%}">
          {% endif %}
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">

        <h2>{{ n.title }}</h2>
        <p>{{ n.description }}</p>

        </div> <!-- cd-timeline-content -->
      </div> <!-- cd-timeline-block -->
      {% endfor %}
    </section>
{% endif %}
<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    {% if campaign.is_completed %}
            <div class="widget">
              <h4 class="widget-title line-bottom">{% trans "The funding campaign is finished and no longer accepting new contributions." %}</h4>
            </div>
    {% else %}
            <div class="widget">
              <h4 class="widget-title line-bottom">{{ kolabora_phrase }}</h4>
              <form> <input type="button" class="btn btn-flat btn-dark btn-theme-colored mt-10 pl-30 pr-30" value='{% trans "Contribute now!" %}' onclick="window.location.href='/{{LANGUAGE_CODE}}/p/{{campaign.slug}}/'" /></form>
            </div>
    {% endif %}
    </div>
</div>
</div>
<!-- end main-content -->
{% endblock content %}
