{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-6" data-bg-img="http://placehold.it/1920x1280">
      <div class="container pt-60 pb-60">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="title text-white">{% trans "FAQ" %}</h2>
              <!-- <ol class="breadcrumb text-center text-black mt-10">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active text-theme-colored">Page Title</li>
              </ol> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="position-inherit">
      <div class="container">
        <div class="row">
          <div class="col-md-3 scrolltofixed-container">
            <div class="list-group scrolltofixed z-index-0">
              <a href="#section-one" class="list-group-item smooth-scroll-to-target">¿Qué es Kolabora?</a>

              <a href="#section-two" class="list-group-item smooth-scroll-to-target">¿Qué ventajas ofrece Kolabora?</a>

              <a href="#section-three" class="list-group-item smooth-scroll-to-target">¿Qué tipo de proyectos se aceptan?</a>

              <a href="#section-four" class="list-group-item smooth-scroll-to-target">¿Quién decide que un proyecto esté en Kolabora? </a>

              <a href="#section-five" class="list-group-item smooth-scroll-to-target">¿Cómo puedo solicitar que mi proyecto esté en Kolabora?</a>

              <a href="#section-six" class="list-group-item smooth-scroll-to-target">¿Qué es FairCoin?</a>

              <a href="#section-seven" class="list-group-item smooth-scroll-to-target">¿Por qué Kolabora es la mejor forma de obtener FairCoin?</a>
            </div>
          </div>
          <div class="col-md-9">
            <div id="section-one" class="mb-50">
              <h3>¿Qué es Kolabora?</h3>
              <hr>
              <p class="mb-20"> Kolabora es una plataforma de crowdfunding, micromecenazgo, incubadora, descapitalizadora y generadora de liquidez para proyectos éticos, humanos, autogestionados y, sobre todo, reales. </p>
            </div>
            <div id="section-two" class="mb-50">
              <h3>¿Qué ventajas ofrece Kolabora?</h3>
              <hr>
              <p class="mb-20"> Kolabora es una plataforma extremadamente flexible para obtener apoyo de la komunidad y financiación cooperativa.</p>
              <ol>
                <li>1) En Kolabora todos los proyectos son reales, viables y muy interesantes.</li>
                <li>2) La komunidad puede apoyar proyectos de diferentes maneras, mediante dinero fiat y criptomonedas.</li>
                <li>3) Cada proyecto establece libremente las recompensas para sus donantes o mecenas.</li>
                <li>4) Los proyectos que tengan FairCoin acumulados pueden cambiarlos fácilmente a moneda fiat.</li>
                <li>5) Komun.org incentivará determinados proyectos con fondos propios.</li>
              </ol>
            </div>
            <div id="section-three" class="mb-50">
              <h3>¿Qué tipo de proyectos se aceptan? </h3>
              <hr>
              <p class="mb-20">Sólo aceptamos proyectos reales y con una clara exposición del objetivo a financiar. Evidentemente, deben tratarse de proyectos éticos y especialmente orientados al bien común.</p>
            </div>
            <div id="section-four" class="mb-50">
              <h3>¿Quién decide que un proyecto esté en Kolabora?</h3>
              <hr>
              <p class="mb-20">Komun.org decide qué proyectos se incorporan a Kolabora tras un estudio de sus objetivos y viabilidad.</p>
            </div>
            <div id="section-five" class="mb-50">
              <h3>¿Cómo puedo solicitar que mi proyecto esté en Kolabora?</h3>
              <hr>
              <p class="mb-20">¿Cómo puedo solicitar que mi proyecto esté en Kolabora?</p>
              <p>
                <ol>
                  <li><i class="fab fa-telegram text-red"></i><a href="https://t.me/komun_en" target="_blank" class="text-red"> @komun_en</a></li>
                  <li><i class="fab fa-telegram text-red"></i><a href="https://t.me/komun_es" target="_blank" class="text-red"> @komun_es</a></li>
                  <li><i class="fa fa-envelope text-red"></i> <a href="mailto:info@komun.org" target="_blank" class="text-red">info@komun.org</a></li>
                </ol>
              </p>
            </div>
            <div id="section-six" class="mb-50">
              <h3>¿Qué es FairCoin?</h3>
              <hr>
              <p class="mb-20">FairCoin es una moneda digital descentralizada, segura, ecológica y ética. Las comunidades activistas que utilizan FairCoin deciden asambleariamente su valor de referencia, por lo que ofrece una necesaria estabilidad dentro de esas comunidades. Por todos estos motivos desde Komun.org apoyamos, enfatizamos y recomendamos el uso de Faircoin. Nos basamos también en el valor asambleario de FairCoin como referencia. Haz clic en este <a href="https://komun.org/es/blog/faircoin-conceptos-fundamentales" target="_blank">enlace</a> para saber más sobre FairCoin</p>
            </div>
            <div id="section-seven" class="mb-50">
              <h3>¿Por qué Kolabora es la mejor forma de obtener FairCoin?</h3>
              <hr>
              <p class="mb-20">Porque todos los FairCoin que obtienes a través de Kolabora provienen de proyectos éticos y de personas comprometidas que luchan por otro mundo posible y necesario. Al adquirir FairCoin en Kolabora estás apoyando la economía circular y contribuyes a hacer realidad todas esas ideas que están construyendo una economía más justa y solidaria. No solo adquieres FairCoin, estás realmente consiguiendo que el mundo sea un poco mejor.</p>
            </div>
            <!-- <div id="section-eight" class="mb-50"> -->
            <h4>"El Viejo Mundo está en proceso de disolución. Uno sólo puede cambiarlo a través de una revolución integral de las ideas y de los corazones" Pierre-Joseph Proudhon</h4>
            </div>
        </div>
      </div>
    </section>

  </div>
  <!-- end main-content -->
  {% endblock content %}
