{% extends 'base.html' %}
<!-- {% load static %} -->
{% load i18n wagtailimages_tags campaigntags %}
{% block meta %}
<meta property="og:title" content="{{meta_title}}" />
<meta property="og:description" content="{{meta_description}}" />
<meta property="og:image" content="https://kolabora.komun.org/static/images/kolabora/kolaboraxarxes.png" />

<meta name="description" content="{{meta_description}}" />
<title>{{meta_title}}</title>

 <link rel="stylesheet" type="text/css" href="/static/css/custom/slick.css"/>
 <link rel="stylesheet" type="text/css" href="/static/css/custom/slick-theme.css"/>

<meta name="keywords" content="crowdfunding,nonprofit,funding,fundrising,faircoin,cryptomonedas,cryptocurrencies,buy,compra,micromecenazgo" />
{% endblock %}

{% block content %}
  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: home -->
    <section id="home">
      <div class="container-fluid p-0">

        <!-- Slider Revolution Start -->
        <div class="rev_slider_wrapper">
          <div class="rev_slider rev_slider_default" data-version="5.0">
            <ul>

              <!-- SLIDE 1 -->
              <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Slide 2" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/static/images/kolabora/slider/kolabora1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                  id="rs-1-layer-1"

                  data-x="['left']"
                  data-hoffset="['30']"
                  data-y="['middle']"
                  data-voffset="['-110']"
                  data-fontsize="['110']"
                  data-lineheight="['120']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:700;">
                  {% comment %} Translators: from 'COLLABORATING give us freedom' {% endcomment %}
                  {% trans "COLLABORATING"%}
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent pl-20 pr-20"
                  id="rs-1-layer-2"

                  data-x="['left']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['-25']"
                  data-fontsize="['35']"
                  data-lineheight="['54']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600;">
                  {% comment %} Translators: from 'COLLABORATING give us freedom' {% endcomment %}

                  {% trans "give us freedom" %}
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme text-white"
                  id="rs-1-layer-3"

                  data-x="['left']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['35','35','40']"
                  data-fontsize="['16','18',24']"
                  data-lineheight="['28']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">{% trans "Free Knowledge - Human Rights - Commons" %}<br>
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme"
                  id="rs-1-layer-4"

                  data-x="['left']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['95','105','110']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-colored btn-lg btn-theme-colored pl-20 pr-20" href="#campaigns">{% trans "Contribute" %}</a>
                </div>
              </li>

              <!-- SLIDE 2 -->
              <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Slide 1" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/static/images/kolabora/slider/kolabora2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-uppercase  bg-dark-transparent-6 text-white font-raleway pl-30 pr-30"
                  id="rs-2-layer-1"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['-90']"
                  data-fontsize="['28']"
                  data-lineheight="['54']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600;"><span class="">
                  {% comment %} Translators: from 'GET CRYPTOCURRENCIES and support ethical projects' {% endcomment %}
                  {% trans "GET CRYPTOCURRENCIES"%}</span>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-uppercase bg-theme-colored-transparent text-white font-raleway pl-30 pr-30"
                  id="rs-2-layer-2"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['-20']"
                  data-fontsize="['48']"
                  data-lineheight="['70']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600;">
                  {% comment %} Translators: from 'GET CRYPTOCURRENCIES and support ethical projects' {% endcomment %}
                  {% trans "and support ethical projects"%}
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme text-white text-center"
                  id="rs-2-layer-3"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['50']"
                  data-fontsize="['16','18',24']"
                  data-lineheight="['28']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">{% trans "Open Source - Hacking - Cryptocurrencies - Blockchain" %}<br>
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme"
                  id="rs-2-layer-4"

                  data-x="['center']"
                  data-hoffset="['0']"
                  data-y="['middle']"
                  data-voffset="['115']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-default btn-circled btn-transparent pl-20 pr-20" href="#campaigns">{% trans "Contribute" %}</a>
                </div>
              </li>

              <!-- SLIDE 3 -->
              <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Slide 3" data-description="">
                <!-- MAIN IMAGE -->
                <img src="/static/images/kolabora/slider/kolabora3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent pr-20 pl-20"
                  id="rs-3-layer-1"

                  data-x="['right']"
                  data-hoffset="['30']"
                  data-y="['middle']"
                  data-voffset="['-90']"
                  data-fontsize="['64']"
                  data-lineheight="['72']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600;"><span class=""></span>
                  {% comment %} Translators: from 'LOWEST FEES and no burocracy to achieve your goals' {% endcomment %}
                  {% trans "LOWEST FEES" %}
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                  id="rs-3-layer-2"

                  data-x="['right']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['-25']"
                  data-fontsize="['32']"
                  data-lineheight="['54']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1000"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 7; white-space: nowrap; font-weight:600;">
                  {% comment %} Translators: from 'LOWEST FEES and no burocracy to achieve your goals' {% endcomment %}
                  {% trans "and no burocracy to achieve your goals" %}
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme text-white text-right"
                  id="rs-3-layer-3"

                  data-x="['right']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['30']"
                  data-fontsize="['16','18',24']"
                  data-lineheight="['28']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                  data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">{% trans "Permaculture - Food Coops - Renewables - Community" %}<br>
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme"
                  id="rs-3-layer-4"

                  data-x="['right']"
                  data-hoffset="['35']"
                  data-y="['middle']"
                  data-voffset="['95']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                  data-start="1400"
                  data-splitin="none"
                  data-splitout="none"
                  data-responsive_offset="on"
                  style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-colored btn-lg btn-flat btn-theme-colored pl-20 pr-20" href="#campaigns">{% trans "Support" %}</a>
                </div>
              </li>

            </ul>
          </div>
          <!-- end .rev_slider -->
        </div>
        <!--  Revolution slider scriopt -->
        <script>
          $(document).ready(function(e) {
            $(".rev_slider_default").revolution({
              sliderType:"standard",
              sliderLayout: "auto",
              dottedOverlay: "none",
              delay: 5000,
              navigation: {
                keyboardNavigation: "off",
                keyboard_direction: "horizontal",
                mouseScrollNavigation: "off",
                onHoverStop: "off",
                touch: {
                  touchenabled: "on",
                  swipe_threshold: 75,
                  swipe_min_touches: 1,
                  swipe_direction: "horizontal",
                  drag_block_vertical: false
                },
                arrows: {
                  style:"zeus",
                  enable:true,
                  hide_onmobile:true,
                  hide_under:600,
                  hide_onleave:true,
                  hide_delay:200,
                  hide_delay_mobile:1200,
                  tmp:'<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                  left: {
                    h_align:"left",
                    v_align:"center",
                    h_offset:30,
                    v_offset:0
                  },
                  right: {
                    h_align:"right",
                    v_align:"center",
                    h_offset:30,
                    v_offset:0
                  }
                },
                bullets: {
                  enable:true,
                  hide_onmobile:true,
                  hide_under:600,
                  style:"metis",
                  hide_onleave:true,
                  hide_delay:200,
                  hide_delay_mobile:1200,
                  direction:"horizontal",
                  h_align:"center",
                  v_align:"bottom",
                  h_offset:0,
                  v_offset:30,
                  space:5,
                  tmp:'<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
                }
              },
              responsiveLevels: [1240, 1024, 778],
              visibilityLevels: [1240, 1024, 778],
              gridwidth: [1170, 1024, 778, 480],
              gridheight: [700, 768, 960, 720],
              lazyType: "none",
              parallax: {
                origo: "slidercenter",
                speed: 1000,
                levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 100, 55],
                type: "scroll"
              },
              shadow: 0,
              spinner: "off",
              stopLoop: "on",
              stopAfterLoops: 0,
              stopAtSlide: -1,
              shuffle: "off",
              autoHeight: "off",
              fullScreenAutoWidth: "off",
              fullScreenAlignForce: "off",
              fullScreenOffsetContainer: "",
              fullScreenOffset: "0",
              hideThumbsOnMobile: "off",
              hideSliderAtLimit: 0,
              hideCaptionAtLimit: 0,
              hideAllCaptionAtLilmit: 0,
              debugMode: false,
              fallbacks: {
                simplifyAll: "off",
                nextSlideOnWindowFocus: "off",
                disableFocusListener: false,
              }
            });
          });
        </script>
        <!-- Slider Revolution Ends -->
      </div>
    </section>

    <!-- Section: home-boxes -->
    <section>
      <div class="container pt-0 pb-0">
        <div class="section-content">
          <div class="row equal-height-inner home-boxes" data-margin-top="-100px">
            <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay1">
              <div class="sm-height-auto">
                <div class="card effect__hover">
                  <div class="card__front bg-theme-colored">
                    <div class="card__text">
                      <div class="display-table-parent">
                        <div class="display-table">
                          <div class="display-table-cell">
                            <div class="text-center pt-30">
                              <!-- <i class="flaticon-charity-shaking-hands-inside-a-heart text-white font-64"></i> -->
                              <img src="/static/images/iconos_targetas/01_komunidad.svg">
                              <h4 class="text-uppercase"><a class="text-white">{% trans "Community" %}</a></h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card__back" data-bg-color="#e0e0e0">
                    <div class="card__text">
                      <div class="display-table-parent">
                        <div class="display-table">
                          <div class="display-table-cell">
                            <h4 class="text-uppercase text-theme-colored">{% trans "Community" %}</h4>
                            <p>{% trans '"Only the people can save the people"' %}</p>
                            <!-- <a href="#" class="btn btn-default btn-theme-colored mt-10"> Leer más </a> -->
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay2">
              <div class="sm-height-auto">
                <div class="card effect__hover">
                  <div class="card__front  bg-theme-colored-darker2">
                    <div class="card__text">
                      <div class="display-table-parent">
                        <div class="display-table">
                          <div class="display-table-cell">
                            <div class="text-center pt-30">
                              <!-- <i class="flaticon-charity-make-a-donation text-white font-64"></i> -->
                              <img src="/static/images/iconos_targetas/02_economiareal.svg">
                              <h4 class="text-uppercase"><a class="text-white">{% trans "Circular Economy" %}</a></h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card__back" data-bg-color="#e0e0e0">
                    <div class="card__text">
                      <div class="display-table-parent">
                        <div class="display-table">
                          <div class="display-table-cell">
                            <h4 class="text-uppercase text-theme-colored">{% trans "Circular Economy" %}</h4>
                            <p>{% trans '"Another economy is possible (and necessary)"' %}</p>
                            <!-- <a href="#" class="btn btn-default btn-theme-colored mt-10"> Leer más </a> -->
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay3">
              <div class="sm-height-auto">
                <div class="card effect__hover">
                  <div class="card__front bg-theme-colored-darker3">
                    <div class="card__text">
                      <div class="display-table-parent">
                        <div class="display-table">
                          <div class="display-table-cell">
                            <div class="text-center pt-30">
                              <!-- <i class="flaticon-charity-hands-with-hearts text-white font-64"></i> -->
                              <img src="/static/images/iconos_targetas/03_apoyomutuo.svg">
                              <h4 class="text-uppercase"><a class="text-white">{% trans "Mutual aid" %}</a></h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card__back" data-bg-color="#e0e0e0">
                    <div class="card__text">
                      <div class="display-table-parent">
                        <div class="display-table">
                          <div class="display-table-cell">
                            <h4 class="text-uppercase text-theme-colored">{% trans "Mutual aid" %}</h4>
                            {% comment %} Tranlastors: This is a phrase from a song from the Tremenda Jauria Feminist Rap group. {% endcomment %}
                            <p>{% trans '"And even if they want us to be alone, we remain in common" (Tremenda Jauría)' %}</p>
                            <!-- <a href="#" class="btn btn-default btn-theme-colored mt-10"> Leer más </a> -->
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay4">
              <div class="sm-height-auto">
                <div class="card effect__hover">
                  <div class="card__front bg-theme-colored-darker4">
                    <div class="card__text">
                      <div class="display-table-parent">
                        <div class="display-table">
                          <div class="display-table-cell">
                            <div class="text-center pt-30">
                              <!-- <i class="flaticon-charity-health-insurance text-white font-64"></i> -->
                              <img src="/static/images/iconos_targetas/04_sinergias.svg">
                              <h4 class="text-uppercase"><a class="text-white">{% trans "Synergies" %}</a></h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card__back" data-bg-color="#e0e0e0">
                    <div class="card__text">
                      <div class="display-table-parent">
                        <div class="display-table">
                          <div class="display-table-cell">
                            <h4 class="text-uppercase text-theme-colored">{% trans "Synergies" %}</h4>
                            <p>{% trans '"Alone we can do very little; together we can do a lot" (Helen Keller)' %}</p>
                            <!-- <a href="#" class="btn btn-default btn-theme-colored mt-10"> Leer más </a> -->
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Section: campaigns -->
    <section id="campaigns" class="bg-silver-light">
      <div class="container">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h2 class="text-uppercase line-bottom-center mt-0">{% trans '<span class="text-theme-colored font-weight-600">Active</span> Campaigns' %}</h2>
              <div class="title-icon">
                <i class="flaticon-charity-hand-holding-a-heart"></i>
              </div>
            </div>
          </div>
        </div>

        {% comment %} <div class="row multi-row-clearfix slider-calls"> {% endcomment %}
        <div class="slider-calls">
            {% for campaign in campaigns %}
              {% with campaign_i18n=campaign|get_campaign_i18n:lang %}
              <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="causes bg-white maxwidth500 mb-30"> 
                      <div class="thumb">
                        {% image campaign_i18n.get_main_image fill-360x245 as main_image %}
                          {% comment %} {% image campaign_i18n.get_main_image max-360x245 %} {% endcomment %}
                          {% comment %} <img src="{{ main_image.url }}" width="{{ tmp_photo.width }}" height="{{ tmp_photo.height }}" alt="{{ tmp_photo.alt }}" href="/campaigns/{{campaign_i18n.slug}}"/>{% endcomment %}
                          <a href="/{{lang}}/c/{{campaign_i18n.slug}}"> <img src="{{ main_image.url }}"  alt="{{campaign_i18n.title}}" class="img-fullwidth"></img></a>
                          <div class="overlay-donate-now">
                            <a href="/{{lang}}/c/{{campaign_i18n.slug}}" class="btn btn-dark btn-theme-colored btn-flat btn-sm pull-left mt-10">{% trans "Contribute" %} <i class="flaticon-charity-make-a-donation font-16 ml-5"></i></a>
                          </div>
                      </div>
                      <div class="progress-item mt-0">
                        <div class="progress mb-0">
                          <div data-percent="{{campaign.percentage}}" class="progress-bar"><span class="percent">{{campaign.percentage}}</span></div>
                        </div>
                      </div>
                      <div class="causes-details clearfix  border-bottom-theme-color-1px p-15 pt-10 pb-10">
                        <h3 class=""><a href="/{{lang}}/c/{{campaign_i18n.slug}}">{{campaign_i18n.title}}</a></h3>
                        <p>{{campaign_i18n.intro}}</p>
                        <ul class="list-inline project-conditions mt-20 text-center bg-theme-colored-transparent-1 m-0 p-10">
                          <li class="target-fund text-theme-colored"><strong>{{campaign.goal_amount|floatformat:"-2"}}{{ campaign.goal_currency_symbol }}</strong>{% trans "Goal" %}</li>
                          <li class="day text-theme-colored"><i class="flaticon-charity-hand-holding-a-heart font-30"></i></li>
                          {% comment %}Translators: "Raised" refers to the total raised by the campaign so far {% endcomment %}
                          <li class="raised text-theme-colored"><strong>{{campaign.total_raised|floatformat:"-2"}}{{ campaign.goal_currency_symbol }}</strong>{% trans "Raised" %}</li>
                        </ul>
                      </div>
                  </div> {% comment %} end causes {% endcomment %}
              </div>
              {% endwith %}
            {% empty %}
              <h3>{% trans "Sorry, no campaigns in this language yet." %}</h3>
            {% endfor %}
          </div>
      </div>
    </section>
  <script src="/static/js/custom/slick.min.js"></script>
  <script type="text/javascript">
    function initSlickCalls() {
        // Try to destroy everything ignoring errors
        // It may be that slick is already destroyed due the pronto load
        try { $('.slider-calls').slick('destroy'); } catch(e){}

        try {
          $('.slider-calls').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3,
            arrows: true,
            centerMode: true,
            initialSlide: 1,
            dots: true,
            adaptiveHeight: true,
            prevArrow: '<button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: block;">Previous</button>',
            nextArrow: '<button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;">Next</button>',
            responsive: [
              {
                breakpoint: 769,
                settings: {
                  slidesToShow: 2,
                }
              },
              {
                breakpoint: 500,
                settings: {
                  slidesToShow: 1,
                }
              }]
          });
        } catch(e) {}
      }
      $(document).ready(function(){
        initSlickCalls();
      });
  </script>


    <!-- Section: About Us  -->
    <section id="about">
      <div class="container">
        <div class="row">
            <div class="col-md-8">
              <div class="meet-doctors">
              <h2 class="font-36 mt-10">{% trans '<span class="text-theme-colored">Collaborate</span> so that<span class="text-theme-colored"> all of us</span> can help good ideas become reality.'%}</h2>
              <p class="mb-30">{% blocktrans %}Small actions can change our lives. Many collectives are fighting for our rights, for our sovereignties. 
In order to achieve responsible, sustainable and supportive alternatives, they often need our help. 
Kolabora is much more than a mere platform for crowdfunding or donations. 
With Kolabora you can get decentralised liquidity by selling cryptos and finance your projects 
with your national currency and also different cryptocurrencies. With the lowest fees and no burocracy.{% endblocktrans %}</p>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6" style="padding-right:0 !important">
                  <div class="icon-box p-0 mb-30">
                    <a class="icon icon-sm pull-left sm-pull-none flip bg-theme-colored mb-sm-15 mb-0 mr-10" href="#campaigns">
                      <!-- <i class="flaticon-charity-shelter text-white font-36"></i> -->
                      <img src="/static/images/iconos_targetas/k1.svg">
                    </a>
                    <h4 class="icon-box-title m-0 mb-5">{% trans "SEE THE CAMPAIGNS" %}</h4>
                    <p class="text-gray mb-5">{% trans "Get information about the projects underway, about their objectives, what they need from us, how they will contribute in the overall struggle, etc." %}</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6"  style="padding-right:0 !important">
                  <div class="icon-box p-0 mb-30">
                    <a class="icon icon-sm pull-left sm-pull-none flip bg-theme-colored mb-sm-15 mb-0 mr-10">
                      <!-- <i class="flaticon-charity-shaking-hands-inside-a-heart text-white font-36"></i> -->
                      <img src="/static/images/iconos_targetas/k2.svg">
                    </a>
                    <h4 class="icon-box-title m-0 mb-5">{% trans "YOUR SUPPORT IS IMPORTANT" %}</h4>
                    <p class="text-gray mb-5">{% trans "Kollaborate with a campaign or various campaigns by giving one-off or recurring quantities so that projects can become realities!" %}</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6"  style="padding-right:0 !important">
                  <div class="icon-box p-0 mb-30">
                    <a class="icon icon-sm pull-left sm-pull-none flip bg-theme-colored mb-sm-15 mb-0 mr-10">
                      <!-- <i class="flaticon-charity-alms text-white font-36"></i> -->
                      <img src="/static/images/iconos_targetas/k3.svg">
                    </a>
                    <h4 class="icon-box-title m-0 mb-5">{% trans "GET CRYPTOCURRENCIES" %}</h4>
                    <p class="text-gray mb-5">{% trans "Give euros or cryptos and receive other cryptos in exchange. In this way you help projects which accept cryptos to get liquidity. If you don't have a FairCoin wallet, <a href='https://komun.org/blog/faircoin-conceptos-fundamentales' target='_blank' style='color:red'>check out these instructions.</a>" %}</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6"  style="padding-right:0 !important">
                  <div class="icon-box p-0 mb-30">
                    <a class="icon icon-sm pull-left sm-pull-none flip bg-theme-colored mb-sm-15 mb-0 mr-10">
                      <!-- <i class="flaticon-charity-world-in-your-hands text-white font-36"></i> -->
                      <img src="/static/images/iconos_targetas/k4.svg">
                    </a>
                    <h4 class="icon-box-title m-0 mb-5">{% trans "BE PART OF THE CHANGE" %}</h4>
                    <p class="text-gray mb-5">{% trans 'By supporting the community and not the speculative markets, you are supporting and making real goals from <a href="https://map.komun.org" target="_blank" style="color:red">many projects</a> which are already participanting in a circular economy.' %}</p>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <!-- Donation Form Starts -->
              <form id="paypal_donate_form_onetime_recurring" class="form p-30" data-bg-img="/static/images/iconos_targetas/380x475_DONA.png">
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="text-white line-bottom mt-0 mb-30">{% trans 'Support a <span class="text-theme-colored">Campaign</span>' %}</h3>
                   
                  <div class="col-sm-12">
                    <div class="form-group">
                      <form> <input type="button" class="btn btn-flat btn-dark btn-theme-colored mt-10 pl-30 pr-30" value="{% trans 'Collaborate Now!' %}" onclick="window.location.href='#campaigns'" /></form>
                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
    </section>

    <!-- Divider: Funfact -->
    {% comment %} <section class="divider parallax layer-overlay overlay-dark-7" data-bg-img="/static/images/paralax/1920x1280.jpg" data-parallax-ratio="0.7"> {% endcomment %}
      <section class="bg-theme-colored">
      <div class="container pt-80 pb-80">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact text-center">
              <img src="/static/images/kolabora/contadores/1_colaboradoras.svg">
              <h2 data-animation-duration="2000" data-value="{{collaborators}}" class="animate-number text-white font-42 font-weight-500 mt-0 mb-0">1</h2>
              <h5 class="text-white text-uppercase font-weight-600">{% trans "Collaborators" %}</h5>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact text-center">
              <img src="/static/images/kolabora/contadores/2_fairs.svg">
              <h2 data-animation-duration="2000" data-value="{{faircoins_sent}}" class="animate-number text-white font-42 font-weight-500 mt-0 mb-0">1</h2>
              <h5 class="text-white text-uppercase font-weight-600">{% trans "FairCoins sent" %}</h5>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact text-center">
              <img src="/static/images/kolabora/contadores/3_money.svg">
              <h2 data-animation-duration="2000" data-value="{{euros_obtained|floatformat:"-2"}}" class="animate-number text-white font-42 font-weight-500 mt-0 mb-0">1</h2>
              <h5 class="text-white text-uppercase font-weight-600">{% trans "€uros reached" %}</h5>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
            <div class="funfact text-center">
              <img src="/static/images/kolabora/contadores/4_finalizadas.svg">
              <h2 data-animation-duration="2000" data-value="{{total_campaigns}}" class="animate-number text-white font-42 font-weight-500 mt-0 mb-0">1</h2>
              <h5 class="text-white text-uppercase font-weight-600">{% trans "Total Campaigns" %}</h5>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Mission  -->
    <section id="create">
      <div class="container pb-30">
        <div class="section-content">
          <div class="row">
            <div class="col-md-8 pb-sm-20">
              <h3 class="line-bottom mt-0">{% trans "KOLABORA in 4 steps" %}</h3>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <!-- <div class="icon-box left media bg-silver-light border-1px p-15 mb-20"> <a class="media-left pull-left flip" href="#"><i class="flaticon-charity-shaking-hands-inside-a-heart text-theme-colored"></i></a> -->
                  <div class="icon-box left media bg-silver-light border-1px p-15 mb-20"> <img class="media-left pull-left flip" src="/static/images/kolabora/steps/paso1.png">
                    <div class="media-body">
                      <h4 class="font-15 text-uppercase">{% trans "Share your project!" %}</h4>
                      <p>{% trans "Kolabora is a platform intended for making it easier to collaboratively finance productive projects." %}</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <!-- <div class="icon-box left media bg-silver-light border-1px p-15 mb-20"> <a class="media-left pull-left flip" href="#"><i class="flaticon-charity-shelter text-theme-colored"></i></a> -->
                  <div class="icon-box left media bg-silver-light border-1px p-15 mb-20"> <img class="media-left pull-left flip" src="/static/images/kolabora/steps/paso2.png">
                    <div class="media-body">
                      <h4 class="font-15 text-uppercase">{% trans "Register on the platform" %}</h4>
                      <p>{% trans "Create a campaign profile on the platform and add any and all information you feel needs to be there." %}</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <!-- <div class="icon-box left media bg-silver-light border-1px p-15 mb-20"> <a class="media-left pull-left flip" href="#"><i class="flaticon-charity-responsible-use-of-water text-theme-colored"></i></a> -->
                  <div class="icon-box left media bg-silver-light border-1px p-15 mb-20"> <img class="media-left pull-left flip" src="/static/images/kolabora/steps/paso3.png">
                    <div class="media-body">
                      <h4 class="font-15 text-uppercase">{% trans "Reward those who support you!" %}</h4>
                      <p>{% trans "Offer rewards to the people who are supporting you; for example, you can choose to give crypto rewards, products or services." %}</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <!-- <div class="icon-box left media bg-silver-light border-1px p-15 mb-20"> <a class="media-left pull-left flip" href="#"><i class="flaticon-charity-make-a-donation text-theme-colored"></i></a> -->
                  <div class="icon-box left media bg-silver-light border-1px p-15 mb-20"> <img class="media-left pull-left flip" src="/static/images/kolabora/steps/paso4.png">
                    <div class="media-body">
                      <h4 class="font-15 text-uppercase">{% trans "Projects shared for the common good" %}</h4>
                      <p>{% trans "By sharing projects, uniting efforts, networking and promoting synergies… we are changing the world." %}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <h3 class="line-bottom border-bottom mt-0">Kolabora</h3>
              <img src="/static/images/sidebars/kolabora_infografia.jpg">

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Divider: Contact -->
    <section id="contact" class="divider bg-silver-light">
      <div class="container pt-60 pb-60">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-uppercase line-bottom-center mt-0">{% trans "Contact" %}</h2>
              <p>{% blocktrans %}Get in touch with the Komun team through our <a href="{{telegram_url}}" target="_blank" style="color:red">Telegram group</a><br> or by filling out this form: {% endblocktrans %}</p>
            </div>
          </div>
        </div>
        <div class="row pt-10">
          <div class="col-md-10 col-md-offset-1">
            <!-- Contact Form -->
            <form id="contact_form" name="contact_form" class="" action="/mail/" method="post">

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group mb-30">
                    <input name="form_name" class="form-control" type="text" placeholder='{% trans "Name" %}' required="">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group mb-30">
                    <input name="form_email" class="form-control required email" type="email" placeholder='{% trans "Email" %}'>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group mb-30">
                    <input name="form_subject" class="form-control required" type="text" placeholder='{% trans "Title" %}'>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group mb-30">
                    <input name="form_phone" class="form-control" type="text" placeholder='{% trans "Chat username" %}'>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <textarea name="form_message" class="form-control required" rows="5" placeholder='{% trans "Message" %}'></textarea>
              </div>
              <div class="form-group">
                <input name="form_botcheck" class="form-control" type="hidden" value="" />
                {% comment %} Translators: "Send" button will submit the contat form {% endcomment %}
                <button type="submit" class="btn btn-flat btn-theme-colored text-uppercase mt-10 mb-sm-30 border-left-theme-color-2-4px">{% trans "Send" %}</button>
                {% comment %} Translators: "Clean" button will clean the contat form {% endcomment %}
                <button type="reset" class="btn btn-flat btn-theme-colored text-uppercase mt-10 mb-sm-30 border-left-theme-color-2-4px">{% trans "Clean" %}</button>
              </div>
            </form>

            <!-- Contact Form Validation-->
            <script type="text/javascript">
            $(document).ready(function(){
                    $("#contact_form").validate({
                      submitHandler: function(form) {
                        var form_btn = $(form).find('button[type="submit"]');
                        var form_result_div = '#form-result';
                        $(form_result_div).remove();
                        form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                        var form_btn_old_msg = form_btn.html();
                        form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                        $(form).ajaxSubmit({
                          dataType:  'json',
                          success: function(data) {
                            if( data.status == 'true' ) {
                              $(form).find('.form-control').val('');
                            }
                            form_btn.prop('disabled', false).html(form_btn_old_msg);
                            $(form_result_div).html(data.message).fadeIn('slow');
                            setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                          }
                        });
                      }
                    });
              });
            </script>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: divider -->
    <section class="bg-theme-colored">
      <div class="container pt-0 pb-0">
        <div class="row">
          <div class="col-md-12">
            <div class="call-to-action pt-30 pb-30">
              <div class="col-md-9">
                <h3 style="text-align:center" class="text-white">{% trans "Support the projects which are contructing a better world here and now" %}</h3>
              </div>
              <div class="col-md-3 text-right sm-text-center">
                <a href="/{{lang}}/#campaigns" class="btn btn-transparent btn-border btn-circled btn-lg mt-10">{% trans "Support a project" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->
{% endblock content %}
