{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Start main-content -->
<div class="main-content">

<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/static/images/kolabora/photo_2018-11-04_20-19-22.jpg">
  <div class="container pt-100 pb-50">
    <!-- Section Content -->
    <div class="section-content pt-100">
      <div class="row">
        <div class="col-md-12">
          <h3 class="title text-white"></h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: Causes -->
<section>
  <div class="container">
    <div class="row mtli-row-clearfix">
      <div class="col-sm-6 col-md-8 col-lg-8">
        <div class="causes bg-white maxwidth500 mb-30">
          <div class="thumb">
            <img src="/static/images/kolabora/photo_2018-11-04_20-27-53.jpg" alt="" class="img-fullwidth">
            <div class="overlay-donate-now">
              <a href="/c/choose" class="btn btn-dark btn-theme-colored btn-flat btn-sm pull-left mt-10">Apoyar <i class="flaticon-charity-make-a-donation font-16 ml-5"></i></a>
            </div>
          </div>
          <div class="progress-item mt-0">
            <div class="progress mb-0">
              <div data-percent="0" class="progress-bar"><span class="percent">0</span></div>
            </div>
          </div>
          <div class="causes-details clearfix  border-bottom-theme-color-1px p-15 pt-10 pb-10">
            <h5 class="font-weight-600 font-16"><a href="page-single-cause.html">Herramientas para el Komun</a></h5>
            <p> <a href="https://komun.org" target="_blank">Komun.org</a> es un equipo cooperativo de gente experta en diferentes areas técnicas: seguridad, redes, blockchain, diseño gráfico y edición de vídeo, diseño web, Prestashop, WordPress, programación... al servicio del bien común. </p>
            <ul class="list-inline project-conditions mt-20 text-center bg-theme-colored-transparent-1 m-0 p-10">
              <li class="target-fund text-theme-colored"><strong>50.000€</strong>Meta</li>
              <li class="day text-theme-colored"><i class="flaticon-charity-hand-holding-a-heart font-30"></i></li>
              <li class="raised text-theme-colored"><strong>150€ + 5211⨎</strong>Conseguido</li>
            </ul>
          </div>
        </div>
        <div class="event-details">
          <p class="mb-20 mt-20">Siempre usamos software libre, eso es un tema irrenunciable porque nuestras herramientas, también son políticas.</p>
          <div class="pull-left flip mr-15">
            <img alt="" src="/static/images/kolabora/370x235.jpg">
          </div>
          <div class="">
            <p class="font-14 text-black-light"><em>Somos un equipo colaborativo multidisciplinar, autogestionado y orientado al bien común. Nos gusta trabajar juntas, elaborar herramientas útiles, usar y crear software libre tanto como facilitar el camino hacia un mundo mejor desde la tecnología y los proyectos prácticos. No nos gusta la burocracia, la falta de transparencia, la verticalidad organizativa, los roles de poder ni perder el tiempo en caminos tortuosos. Somos autónomas, libres, alegres y anárquicas. Hacemos cosas, sin tonterías. </em></p>
            <p class="mt-10">Llevamos meses desarrollando un conjunto de herramientas con el objetivo de facilitar las relaciones sociales y económicas, aportando soluciones libres que protejan nuestra privacidad, mejoren nuestra comunicación, gestión y faciliten el trabajo cooperativo y la autogestión.</p>
          </div>
          <p class="mt-20">Ha llegado el momento de avanzar juntas hacia un espacio común, desde la diversidad de proyectos y colectivos que cuidamos día a día. Por eso impulsamos esta campaña de financiación y te pedimos que colabores realizando una donación que permitirá apoyar el desarrollo de herramientas descentralizadas que resuelvan necesidades. Hemos diseñado aplicaciones amigables y escalables, con hojas de ruta claras, fruto de la participación de usuarias y programadoras.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="sidebar sidebar-right mt-sm-30">
          <div class="widget">
            <h4 class="widget-title line-bottom">Enlaces a herramienta</h4>
            <ul class="list-divider list-border list check">
              <li><a href="https://map.komun.org" target="_blank">Mapo</a></li>
              <li><a href="https://bazar.komun.org" target="_blank">Bazar</a></li>
              <li><a href="https://trovu.komun.org" target="_blank">Trovu</a></li>
              <li><a href="https://komun.org/es/blog" target="_blank" >Blog</a></li>
              <li><a href="https://paper.komun.org" target="_blank">Paper</a></li>
            </ul>
          </div>
          <div class="widget">
            <h4 class="widget-title line-bottom">Haz una colaboración</h4>
            <form> <input type="button" class="btn btn-flat btn-dark btn-theme-colored mt-10 pl-30 pr-30" value="Colabora ahora" onclick="window.location.href='/c/choose'" /></form>
          </div>
          <div class="widget">
            <h4 class="widget-title line-bottom">Twitter</h4>
            <!-- <div class="twitter-feed list-border clearfix" data-username="Envato"></div> -->
            <a class="twitter-timeline" data-height="400" href="https://twitter.com/komunorg">Tweets by komunorg</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="widget">
            <h5 class="widget-title line-bottom">Galeria herramientas</h5>
            <div class="owl-carousel-1col">
              <div class="item">
                <img src="/static/images/kolabora/mapo.png" alt="">
                <h4 class="title">Mapa colavorativo</h4>
                <p>Mapa colaborativo, muestra lugares que aceptan Faircoin y/o moneda social .</p>
              </div>
              <div class="item">
                <img src="/static/images/kolabora/bazar.png" alt="">
                <h4 class="title">Bazar tienda online</h4>
                <p>Tienda online, todos los comerciantes aceptan Faircoin</p>
              </div>
              <div class="item">
                <img src="/static/images/kolabora/trovu.png" alt="">
                <h4 class="title">Buscador anónimo</h4>
                <p>Metabuscador anónimo, con decenas de buscadores integrados y traducido a multiples idiomas</p>
              </div>
            </div>
          </div>
          <div class="widget">
            <h4 class="widget-title line-bottom">Tags</h4>
            <div class="tags">
              <a href="#">software libre</a>
              <a href="#">komun</a>
              <a href="#">herramientas</a>
              <!-- <a href="#">feature</a>
              <a href="#">mountain</a>
              <a href="#">design</a>
              <a href="#">restaurant</a>
              <a href="#">journey</a>
              <a href="#">classic</a>
              <a href="#">sunset</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Divider: Video Tour -->
    <section class="divider parallax layer-overlay overlay-dark-7" data-bg-img="/static/images/paralax/1920x1280_4.jpg" data-parallax-ratio="0.7">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container">
            <div class="row">
              <div class="embed-responsive embed-responsive-4by3 col-xs-12 text-center">
                <iframe class="embed-responsive-item" sandbox="allow-same-origin allow-scripts" src="https://pe.ertu.be/videos/embed/751a187f-6f88-4d89-9cf8-0a28bdc77f23" allowfullscreen="" frameborder="0"></iframe>
              </div>
              <div class="col-md-12 text-center">
                <h2 class="text-white text-uppercase font-48 font-weight-700 mb-0">Vídeo de la campaña de<span class="text-theme-colored"> Komun</span></h2>
                <p class="font-16 text-white"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



<!-- end main-content -->

<!-- Section: inner-header -->
<!-- <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="http://placehold.it/1920x1280">
<div class="container pt-90 pb-50"> -->
  <!-- Section Content -->
  <!-- <div class="section-content pt-100">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title text-white">Timeline</h3>
      </div>
    </div>
  </div>
</div>
</section> -->

<section>
<div class="container pb-0">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="heading-line-bottom text-center">
        <h3>TIMELINE</h3>
      </div>
    </div>
  </div>
</div>
</section>
<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="/static/images/timeline/okok.svg" alt="ok">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Instalación y personalización de aplicaciones básicas para la comunicación y trabajo en equipo</h2>
        <ul type="disc">
          <li><strong>TROVU:</strong> Metabuscador anónimo que respeta la privacidad e las usuarias</li>
          <li><strong>MUMBLE:</strong> Servidor de voz seguro para crear salas de chat individuales y colectivas</li>
          <li><strong>PAPER:</strong> Creación y edición de documentos colaborativos en línea</li>
          <li><strong>NUBO:</strong> Nube segura para sincronizar archivos, contactos, calendario, ordenar pads en carpetas y mucho más</li>
        </ul>
        <!-- <a href="#0" class="cd-read-more">Read more</a> -->
        <span class="cd-date">Completada</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="/static/images/timeline/okok.svg" alt="ok">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>map.komun.org </h2>
        <p>Eventos: permite añadir eventos activistas y compartirlos por regiones, por temática,... Capas personalizadas: Posibilidad de incrustar mapo con regiones y filtros de puntos en otras páginas web que quieran tener su propia capa.</p>
        <!-- <a href="#0" class="cd-read-more">Read more</a> -->
        <span class="cd-date">Completada</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

<div class="cd-timeline-block">
  <div class="cd-timeline-img cd-location">
    <img src="/static/images/timeline/wait.svg" alt="Picture">
  </div> <!-- cd-timeline-img -->

  <div class="cd-timeline-content">
    <h2>plataforma de tickets</h2>
    <p>Próximamente más noticias</p>
    <!-- <a href="#0" class="cd-read-more">Read more</a> -->
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block">
  <div class="cd-timeline-img cd-location">
    <img src="/static/images/timeline/wait.svg" alt="Location">
  </div> <!-- cd-timeline-img -->

  <div class="cd-timeline-content">
    <h2>plataforma de crowdfunding y mecenazgo</h2>
    <p>Próximamente más noticias</p>
    <!-- <a href="#0" class="cd-read-more">Read more</a> -->
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block">
  <div class="cd-timeline-img cd-location">
    <img src="/static/images/timeline/wait.svg" alt="Location">
  </div> <!-- cd-timeline-img -->

  <div class="cd-timeline-content">
    <h2>Bazar</h2>
    <p>Próximamente más noticias</p>
    <!-- <a href="#0" class="cd-read-more">Read more</a> -->
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block">
  <div class="cd-timeline-img cd-location">
    <img src="/static/images/timeline/wait.svg" alt="Movie">
  </div> <!-- cd-timeline-img -->

  <div class="cd-timeline-content">
    <h2>Automatización y bots de micropagos.</h2>
    <p>Próximamente más noticias</p>
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block">
  <div class="cd-timeline-img cd-location">
    <img src="/static/images/timeline/wait.svg" alt="Movie">
  </div> <!-- cd-timeline-img -->

  <div class="cd-timeline-content">
    <h2>Fase Final:</h2>
    <p>Próximamente más noticias</p>
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->
</section>

<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    <h4>Haz una colaboración</h4>
      <form> <input type="button" class="btn btn-flat btn-dark btn-theme-colored mt-10 pl-30 pr-30" value="Colabora ahora" onclick="window.location.href='/c/choose'" /></form>
  </div>
</div>
</div>
<!-- end main-content -->
{% endblock content %}
