{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-6" data-bg-img="http://placehold.it/1920x1280">
      <div class="container pt-60 pb-60">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="title text-white">Términos y Condiciones</h2>
              <!-- <ol class="breadcrumb text-center text-black mt-10">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active text-theme-colored">Page Title</li>
              </ol> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div id="accordion1" class="panel-group accordion">
              <div class="panel">
                <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion11" class="active" aria-expanded="true"> <span class="open-sub"></span> <strong>Términos y condiciones en el uso de la platafomaKolabora</strong></a> </div>
                <div id="accordion11" class="panel-collapse collapse in" role="tablist" aria-expanded="true">
                  <div class="panel-content">
                      <p>Kolabora es una plataforma de crowdfunding, micromecenazgo, incubadora, descapitalizadora y generadora de liquidez para proyectos éticos, humanos, autogestionados y, sobre todo, reales.</p>
                      <p>Kolabora está desarrollada y gestionada por Komun.org.  Komun.org es un equipo de desarrollo activista, anticapitalista y autogestionado. Elaboramos herramientas para el bien común basadas en software libre.</p>
                      <p>Komun.org se basa en confianza y apoyo mutuo. No hay más garantías legales que las que podemos ofrecer con nuestra mejor voluntad, nuestra constancia y compromiso y nuestro ánimo de máxima transparencia.</p>
                      <p>Kolabora se ofrece tal cual es. El equipo de Komun.org tratará de que todo funcione lo mejor posible. Evidentemente pueden haber bugs, fallos e imponderables de todo tipo que trataremos de resolver de la mejor manera posible.</p>
                      <p>Los proyectos que elegimos para incorporarse a Kolabora son examinados cuidadosamente. Intentamos por todos los medios posibles evitar cualquier tipo de engaño o fraude. Aunque no podemos responsabilizarnos del comportamiento y desarrollo final de todos los proyectos admitidos, pondremos todo nuestro empeño en que todo ocurra en un marco de máxima transparencia y honestidad. Por tal motivo seremos muy rigurosas a la hora de elegir proyectos que nos parezcan reales, productivos, educativos o beneficiosos para el común. </p>
                      <p>Es muy posible que no todos los proyectos que soliciten estar en Kolabora sean admitidos. Cualquier desavenencia tratará de resolverse honestamente entre las partes implicadas. Cualquier campaña puede ser suspendida si las garantías de transparencia y honestidad no son suficientes. En caso de suspensión de una campaña en marcha o de que el objetivo no se alcance el monto de las aportaciones será devuelto íntegramente a las personas que han apoyado dicho proyecto. En cualquier caso, mantendremos a la comunidad informada a través de nuestros canales habituales.</p>
                      <p>Es importante que los proyectos que se presenten para participar en Kolabora sean muy concretos, con hojas de ruta claras. Si un proyecto es muy grande es preferible particionarlo de forma que el presupuesto para el objetivo sea realista y más sencillo de obtener. Igualmente pueden presentarse esas partes por orden lógico o cronológico. Preferimos concreción a abstracción. Proyectos con objetivos claros y demostrables tienen más posibilidades de ser admitidos.</p>
                      <p>Cada proyecto puede elegir el tipo de dinero que desea recibir (fiat, faircoin, otras criptomonedas). Kolabora custodiará las aportaciones hasta alcanzarse el objetivo, momento en el que serán transferidas a las gestoras de dichos proyectos.</p>
                      <p>Cada proyecto puede elegir diversos tipos de recompensas para la gente que apoya. En general, si la recompensa son Faircoin las personas que aportan recibirán de forma inmediata la recompensa. Las aportaciones que reciban Faircoin a cambio no son devueltas y serán transferidas a las gestoras del proyecto aún cuando el objetivo no se alcance. Se entiende que estos son proyectos activos, que aceptan Faircoin normalmente y, por tanto, tienen Faircoin acumulados que utilizan como recompensa a quienes aportan liquidez en otras monedas. Al tratarse de proyectos activos esa liquidez sirve para sostenerlos aún cuando hayan fijado objetivos que aún no han sido alcanzados. Esta es una vía en la que todas resultamos beneficiadas ya que estamos promoviendo la fortaleza de las economías circulares y, por tanto, la fortaleza de Faircoin.</p>
                      <p>Cada aportación realizada en Kolabora contribuye con un 3% al sostenimiento de la propia plataforma. Esa cantidad será deducida del monto total a tranferir a las gestoras de cada proyecto solo en caso de que los objetivos se hayan cumplido o se trate de aportaciones a cambio de Faircoin. En la circunstancia de que las aportaciones tengan que ser devueltas no se descontará porcentaje alguno.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->
  {% endblock content %}
