{% extends "base.html" %}
{% load i18n %}


{% block content %}
<div class="container text-center">
    <img src="/static/images/kolabora/404bambi.png">
    <h1>{% trans "Page not found" %}</h1>
</div>
{% endblock %}
