{% extends "base.html" %}
{% load i18n %}


{% block content %}
<div class="container text-center">
    <img src="/static/images/kolabora/404bambi.png">
    <h2>{% trans "Sorry, this is embarassing! There seems to be an error." %}</h2>
    <h3>{% trans "Please try again and report to info@komun.org if error persists." %}</h3>
</div>
{% endblock %}
