{% extends 'form-base.html' %}
{% load i18n %}

{% block body %}
{% load staticfiles %}
  <div class="alert alert-danger">
    <strong>{% trans "Your request could not be completed" %}</strong>
    <p>{{ msg }}</p>
  </div>

    <a class="btn btn-lg btn-default" href="/" id="backbutton">{% trans "Back" %}</a>
    <a class="pull-right btn btn-lg btn-primary" href="/{{lang}}/p/{{campaign.slug}}/" id="submitbutton">{% trans "Contribute" %}</a>
{% endblock %}
