<!DOCTYPE html>
<head>
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="/static/images/faviconKOLABORA32x32.png" rel="shortcut icon" type="image/png">
  <meta property="og:image" content="https://kolabora.komun.org/static/images/kolabora/kolaboraxarxes.png" />
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" media="screen" /> -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/kolabora_style.css' %}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" media="screen" />
  <script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- <script type="text/javascript" src="https://js.stripe.com/v2/"></script> -->
  <script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.payment.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/payment.js' %}"></script>
  <title>{{ proj_name }} - Contribute</title>
</head>
<body class="fs-fundpage">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 fs-fundpage-container">
        {% block body %}{% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
