{% load i18n %}

Date/time: {{ time }}<br>
Payment reference: {{o.pk}}<br>
Payment type: {{payment_currency}}<br>
Contribution to pay: {{amount_payment_currency}} {{payment_currency}}<br>
Payment method: {{method}}<br>
Email kolaborator: {{email}}<br>
Name kolabora: {{namedonor}}<br>
Notes: {{notes}}<br>