{% load i18n %}

<h3>{% blocktrans %}Thank you supporting the campaign <i>{{ proj_name }}</i> in Kolabora!{% endblocktrans %}</h3>

{% trans "Date/time:" %} {{ time }}<br>
{% trans "Payment reference:" %} {{o.pk}}<br>
{% trans "Payment type:" %} {{payment_currency}}<br>
{% trans "Contribution to pay:" %} {{amount_payment_currency}} {{payment_currency}}<br>
<br>

{% if method == 'cryptos' %}
       {% trans "Use your favourite wallet to transfer to the address listed below:" %}<br>
      <img src="https://api.qrserver.com/v1/create-qr-code/?data={{crypto_address_pay_to}}&size=200x200"><br>
      {{ crypto_address_pay_to }}</br>

      {% trans "If you have a Bank of the Commons account, you may prefer to use the wallet to wallet function to the following token:" %} <strong>5b0045bf19059</strong><br>
{% elif method == 'bank_eur' %}
    <br />
        {{fiat_method_pay_to|safe}}<br>
        {% trans "If you have a Bank of the Commons account, you may prefer to use the wallet to wallet function to the following token:" %} <strong>5b0045bf19059</strong><br>
{% else %}    
      {{fiat_method_pay_to|safe}}<br>

  {% endif %}

{% trans "Important: This contribution will expire in one week if no payment has been received." %}<br>
{% if donor_wallet %}{% trans "Once confirmed your payment, the cryptos will be sent to the address you indicated:" %} {{donor_wallet}}<br>{%endif%}
{% if wallet_type == 'nowallet' %}{% trans "Once confirmed your payment, we'll send you a confirmation email and you will be able to claim your cryptocurrency whenever you wish." %}<br>
{% else %}
      <p>{% trans "Your payment will be verified as soon as it is received. If all is correct, we will confirm you by email." %}</p>
{% endif %} 

{% trans "If you have any doubts or ideas. Please send us a message to info@komun.org" %}<br>
