{% load i18n %}
<p><b>{% blocktrans %}We have received your payment for the campaign <i>{{ proj_name }}</i>!{% endblocktrans %}</b></p>
<br>

{% if o.donor_wallet == 'nowallet' %}{% trans "You can claim the rewarded cryptocurrency whenever you wish by replying this email with your wallet address." %}<br>
{% elif o.donor_wallet == 'nocryptos' %}
{% else %}
      <p>{% blocktrans %}We have sent you the cryptocurrency to the address {{address_url}}{% endblocktrans %}</p>
      {% if o.blockchain_transaction %}
            <p>{% blocktrans %}You can check the transaction proof in the blockchain: {{transaction_url}}{% endblocktrans %}</p>
      {% endif %}
{% endif %} 
{% trans "If you have any doubts or ideas. Please send us a message to info@komun.org" %}<br>
<b>{% trans "Thank you for your contribution" %}</b>
<p>
<center><img src="https://kolabora.komun.org/static/images/logoKOLABORAweb.png" width="400px" /></center>
</p>